﻿@model Vidly.ViewModels.RandomMovieViewModel
@{
                /**/

                ViewBag.Title = "Random";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var ClassName = Model.Customers.Count > 5 ? "popular" : null;
}
@if (Model.Customers.Count == 0)
{
    <text> No one has rented this movie before.</text>
}
else
{
    <h2 class="@ClassName">@Model.Movie.Name</h2>
    <ul>

        @foreach (var customer in Model.Customers)
        {
            <li>
                @customer.Name
            </li>

        }
    </ul>

}

